.container{
    width: 1200px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}
body{
    /*background: rgb(241, 242, 243);*/
}

/*分类开始*/
.catagroy{
    margin-top: 20px;
    background: #fff;
    width: 100%;
}

/*分类左边开始*/
.catagroy>.f_left{
    width: 975px;
    border: 1px solid #ccc;
    height: 674px;
    position: relative;
}

.catagroy>.f_right{
    width: 210px;
    border: 1px solid #ccc;
    height: 674px;
}

.catagroy>.f_left .loggle,.catagroy>.f_right .loggle{
    padding-left: 10px;
    height: 39px;
    border-bottom: 1px solid #ccc;
    line-height: 39px;
}

.catagroy>.f_left .title,.catagroy>.f_right .title{
    font-size: 22px;
    color: #000;
    float: left;
}

.divider{
    width: 1px;
    background: #ccc;
    height: 22px;
    margin: 9px 20px;
    float: left;
}

.catagroy>.f_left .tabs{
    float: left;
    height: 20px;
}

.catagroy>.f_left .tabs li{
    float: left;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
}

.catagroy>.f_left .tabs .now{
    background: #007aff;
    color: #fff;
}

.catagroy .target .item{
    float: left;
    width: 181px;
    height: 300px;
    margin: 10px 0 0 10px;
    border: 1px solid #ccc;
}

.catagroy .target .item:hover{
    box-shadow:0 3px 3px 3px rgba(0,0,0,0.3);
}
.catagroy .target .item img{
    width: 100%;
    display: block;
    height: 253px;
}

.catagroy .target .item .mark{
    color: gold;
    font-size: 18px;
    font-weight: 700;
}

.catagroy .target .item p{
    padding: 0 5px;
    overflow: hidden;
    font-size: 14px;
    height: 22px;
    color: #000;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.catagroy .target .item p:last-child{
    font-size: 12px;
    color: #666;
}

/*左边的栏目完成*/


/*右边的栏目开始*/

.catagroy>.f_right li{
    height: 59px;
    border-bottom: 1px dashed #ccc;
}

.catagroy>.f_right li:hover{
    background: rgb(241, 242, 243);
}

.catagroy>.f_right li:last-child{
    border-bottom: none;
}

.catagroy>.f_right li>a{
    display: block;
    width: 100%;
    height: 100%;
}

.catagroy>.f_right li img{
    width: 35px;
    height: 50px;
    float: left;
    margin: 5px 10px;
}

.catagroy>.f_right li .title{
    font-size:16px;
    color: green;
    vertical-align: bottom;
}
.catagroy>.f_right li .star{
    font-style: italic;
    font-size: 26px;
    color: gold;
}
/*右边的栏目结束*/

/******页面的底部*****/

.footer{
    padding-top: 10px;
    height: 100px;
    line-height: 40px;
    text-align: center;
    background: beige;
    margin-top: 10px;
}
.footer a{
    color: #f00;
}

/******页面的底部  结束*****/

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:10000;
    width: 220px;
    height: 220px;
    transform: translate(-50%,-50%);
}

/*点赞图标--由于不好看，已经废弃*/
.star0{
    background: url("../images/ic_rating_s.png") no-repeat 0 -110px;
}
.star1{
    background: url("../images/ic_rating_s.png") no-repeat 0 -99px;
}
.star2{
    background: url("../images/ic_rating_s.png") no-repeat 0 -88px;
}
.star3{
    background: url("../images/ic_rating_s.png") no-repeat 0 -77px;
}
.star4{
    background: url("../images/ic_rating_s.png") no-repeat 0 -66px;
}
.star5{
    background: url("../images/ic_rating_s.png") no-repeat 0 -55px;
}
.star6{
    background: url("../images/ic_rating_s.png") no-repeat 0 -44px;
}
.star7{
    background: url("../images/ic_rating_s.png") no-repeat 0 -33px;
}
.star8{
    background: url("../images/ic_rating_s.png") no-repeat 0 -22px;
}
.star9{
    background: url("../images/ic_rating_s.png") no-repeat 0 -11px;
}
.star10{
    background: url("../images/ic_rating_s.png") no-repeat 0 0;
}



