.container{
    width: 1200px;
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
}
body{
    /*background: rgb(241, 242, 243);*/
    padding-top: 60px;
}



/***头部****/
.header{
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999999;
}

.header .nav{
    height: 100%;
    width: 1200px;
    margin: auto;
    background: #fff;
}

.header .nav li {
    float: left;
}
.header .nav .searchBar{
    float: right;
    position: relative;

}

.header .nav .searchBar form{
    height: 100%;
    width: 360px;
    margin-right: 15px;
}

.header .nav form input{
    -webkit-appearance: none;
    width:348px;
    height: 34px;
    border: 1px solid #007aff;
    margin: 12px 0;
    line-height: 34px;
    padding: 0 0 0 10px;
    font-size: 16px;
}

.header .nav .searchBar>input{
    position: absolute;
    width: 60px;
    height: 36px;
    top:12px;
    right:15px;
    border: 1px solid #007aff;
    background: #007aff;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.header .nav li a{
    display: block;
    line-height: 60px;
    font-size: 18px;
    text-align: center;
    padding: 0 15px;
    color: #007aff;
}


/*分类开始*/
.catagroy{
    margin-top: 20px;
    background: #fff;
    width: 100%;
}

/*分类左边开始*/
.catagroy>.f_left{
    width: 975px;
    border: 1px solid #ccc;
    height: 674px;
    position: relative;
}

.catagroy>.f_right{
    width: 210px;
    border: 1px solid #ccc;
    height: 674px;
}

.catagroy>.f_left .loggle,.catagroy>.f_right .loggle{
    padding-left: 10px;
    height: 39px;
    border-bottom: 1px solid #ccc;
    line-height: 39px;
}

.catagroy>.f_left .title,.catagroy>.f_right .title{
    font-size: 22px;
    color: #000;
    float: left;
}

.divider{
    width: 1px;
    background: #ccc;
    height: 22px;
    margin: 9px 20px;
    float: left;
}

.catagroy>.f_left .tabs{
    float: left;
    padding: 0;
    margin: 0;
}

.catagroy>.f_left .tabs li{
    float: left;
    font-size: 16px;
    padding: 0 10px;
    cursor: pointer;
}

.catagroy>.f_left .tabs .now{
    background: #007aff;
    color: #fff;
}

.catagroy .target .item{
    float: left;
    width: 181px;
    height: 300px;
    margin: 10px 0 0 10px;
    border: 1px solid #ccc;
}

.catagroy .target{
    width: 100%;
}

.catagroy .target ul{
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
}

.catagroy .target .item:hover{
    /*box-shadow:0 3px 3px 3px rgb(0,0,0);*/
}
.catagroy .target .item img{
    width: 100%;
    display: block;
    height: 253px;
}

.catagroy .target .item .mark{
    color: gold;
    font-size: 18px;
    font-weight: 700;
}

.catagroy .target .item p{
    padding: 0 5px;
    overflow: hidden;
    font-size: 14px;
    height: 22px;
    color: #000;
    text-overflow:ellipsis;
    white-space: nowrap;
   margin: 0;
}
.catagroy .target .item p:last-child{
    font-size: 12px;
    color: #666;
}

/*左边的栏目完成*/


/*右边的栏目开始*/

.catagroy>.f_right ul{
    padding: 0;
    margin: 0;
}

.catagroy>.f_right li{
    height: 59px;
    border-bottom: 1px dashed #ccc;
    overflow: hidden;
}

.catagroy>.f_right li:hover{
    background: rgb(241, 242, 243);
}

.catagroy>.f_right li:last-child{
    border-bottom: none;
}

.catagroy>.f_right li>a{
    display: block;
    width: 100%;
    height: 100%;
}

.catagroy>.f_right li img{
    width: 35px;
    height: 50px;
    float: left;
    margin: 5px 10px;
    display: block;
    border: none;
}

.catagroy>.f_right li .title{
    font-size:16px;
    color: green;
    vertical-align: bottom;
    padding: 0;
}

.catagroy>.f_right li .title p{
    padding: 0;
    margin: 0;
    margin-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient: vertical;
}
.catagroy>.f_right li .star{
    font-style: italic;
    font-size: 24px;
    color: gold;
}
/*右边的栏目结束*/

/******页面的底部*****/

.footer{
    padding-top: 10px;
    height: 100px;
    line-height: 40px;
    text-align: center;
    background: beige;
    margin-top: 10px;
    width: 100%;
}
.footer a{
    color: #f00;
}

/******页面的底部  结束*****/

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:6666;
    width: 220px;
    height: 220px;
    margin-top: -110px;
    margin-left: -110px;
}
#float_img{
    border:5px solid #ccc;
    position: absolute;
    left: -200px;
    top: -200px;
    display: none;
    background:#ccc;
    z-index: 9999999;
}

#float_img img{
    width: 210px;
    height: 300px;
    display: block;
}

/**这个是弹出的详情页**/
#float_details{
    position: fixed;
    height: 80%;
    min-width: 1120px;
    max-width: 1120px;
    width: 1120px;
    top:10%;
    left:50%;
    margin-left: -560px;
    background: #fff;
    z-index: 10000000;
    border: 1px solid #ccc;
    /*box-shadow: 0 0 5px 5px rgb(33,43,45);*/
}

#float_details button{
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #2299dd;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: 1px solid #2299dd;
    z-index: 99999;
}
#float_details .content{
    width: 100%;
    height: 100%;
    min-width: 1082px;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
}

/*点赞图标--由于不好看，已经废弃*/
.star0{
    background: url("../images/ic_rating_s.png") no-repeat 0 -110px;
}
.star1{
    background: url("../images/ic_rating_s.png") no-repeat 0 -99px;
}
.star2{
    background: url("../images/ic_rating_s.png") no-repeat 0 -88px;
}
.star3{
    background: url("../images/ic_rating_s.png") no-repeat 0 -77px;
}
.star4{
    background: url("../images/ic_rating_s.png") no-repeat 0 -66px;
}
.star5{
    background: url("../images/ic_rating_s.png") no-repeat 0 -55px;
}
.star6{
    background: url("../images/ic_rating_s.png") no-repeat 0 -44px;
}
.star7{
    background: url("../images/ic_rating_s.png") no-repeat 0 -33px;
}
.star8{
    background: url("../images/ic_rating_s.png") no-repeat 0 -22px;
}
.star9{
    background: url("../images/ic_rating_s.png") no-repeat 0 -11px;
}
.star10{
    background: url("../images/ic_rating_s.png") no-repeat 0 0;
}



